@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap");
:root {
  --bg-color: #272b23;
  --g-selected-text: #14fe17;
  --g-non-selected-text: #107c12;
  --b-selected-text: #14cffe;
  --b-non-selected-text: #1789b6;
  --w-selected-text: #ffffff;
  --w-non-selected-text: #ff00c8;

  --y-selected-text: #d714fe;
  --y-non-selected-text: #00e1ff;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  /* font-family: "Teko", sans-serif; */
  font-family: "Pragati Narrow", sans-serif;
  background-color: var(--bg-color);
  color: var(--y-non-selected-text);
}
body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 15000;
  top: 0;
  background-size: 4px;
  pointer-events: none;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 2px
  );
  opacity: 0.4;
}
.App {
  background-image: url("/images/bg.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
  height: 100%;
  /* overflow-x: hidden; */
}
.headerWrapper {
  text-align: left;
  height: 100vh;
  display: grid;
  place-items: center;
}
.header-bg {
  background-image: url("/images/pc.gif");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}
.headerText {
  margin-left: 100px;
  line-height: 60px;
}
.content-card {
  width: 90%;
  border-left: 6px solid var(--y-selected-text);
  border-right: 6px solid var(--y-selected-text);
  -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
  -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
  box-shadow: inset 200px 21px 194px 20px #12c0953b;
}
.content-card h1 {
  font-size: 3vw;
}
.content-card h2 {
  font-size: 4vw;
}
.content-card span {
  color: var(--y-selected-text);
}
.spacer {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.705);
}
.techIcon {
  width: 40px;
  margin: 10px;
}
.projects {
  padding: 50px;
  margin: 60px auto;
  width: 70%;
  border-left: 6px solid var(--y-selected-text);
  border-right: 6px solid var(--y-selected-text);
  -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
  -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
  box-shadow: inset 200px 21px 194px 20px #12c0953b;
}
.buildWidth p {
  color: white;
}
.title h1 {
  font-size: 4vw;
}
.description p {
  /* font-size: 25px; */
  font-size: 30px;
  color: white;
}
.AboutWrapper {
  margin-top: 300px;
}
.aboutMe {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
.aboutMe h1 {
  font-size: 60px;
  padding: 60px;
}
.aboutMeDescription p {
  font-size: 25px;
  color: white;
}
.aboutMeDescription p {
  width: 80%;
  margin: 0 auto;
}

.mainStack {
  margin: 100px 0;
}
.mainStackTitle {
  font-size: 30px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 100px;
  color: rgb(177, 177, 177);
}
.stackItem {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 10px;
}
.stackLinkImage {
  width: 40px;
}
.linkName {
  color: var(--y-selected-text);
  margin: 0 15px;
}
.linkNameSpan {
  color: rgb(177, 177, 177);
}
.linkToProject {
  color: white;
  padding: 5px 20px;
  display: inline-block;
  margin: 50px 0px;
  /* border: 1px solid var(--b-selected-text); */
  border-radius: 8px;
}
.linkToProject:hover {
  background-color: rgba(0, 183, 255, 0.281);
}
.aboutMeDescription {
  font-size: 522vw;
}
.footerWrapper {
  margin-top: 200px;
}
.footerTitle {
  font-size: 60px;
  padding: 60px;
}
.footerImage {
  width: 300px;
  margin-left: 30px;
}
.contact {
  display: flex;
  font-size: 24px;
}
.contactInfo {
  margin: 20px 0 10px 20px;
}
.contactInfo span {
  color: var(--y-selected-text);
}
.footer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

@media screen and (max-width: 400px) {
  .headerText {
    margin-left: 30px;
  }
  .headerText h1 {
    font-size: 30px;
    line-height: 25px;
  }
  .headerText h2 {
    line-height: 25px;
  }
  .spacer {
    padding: 50px;
  }
  /* PROJECTS  */

  .projectsWrapper {
    width: 90%;
    margin: 0 auto;
  }
  .title {
    text-align: center;
  }
  .title h1 {
    font-size: 40px;
  }
  .description p {
    font-size: 20px;
  }
  .aboutMe {
    padding-bottom: 5px;
  }
  .aboutMe h1 {
    font-size: 40px;
  }
  .aboutMeDescription p {
    font-size: 15px;
  }
  .mainStackTitle {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .stackItem {
    font-size: 15px;
    margin-left: 30px;
  }
  .stackLinkImage {
    width: 25px;
  }
  .mainStack {
    margin-bottom: 20px;
  }
  .footer {
    padding-bottom: 100px;
  }
  .footerTitle {
    font-size: 30px;
  }
  .footerImage {
    width: 100px;
  }
  .contactInfo {
    margin-left: 0px;
  }
}
